[submodule "ghost/core/content/themes/casper"]
	path = ghost/core/content/themes/casper
	url = ../../TryGhost/Casper.git
	ignore = all
[submodule "source"]
	path = ghost/core/content/themes/source
	url = git@github.com:TryGhost/Casper-2023
	ignore = all
